fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
python-dotenv==1.2.2
python-multipart==0.0.20

requests==2.32.3
google-api-python-client==2.149.0
youtube-transcript-api==0.6.2

motor==3.7.1

langchain==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.30
langchain-text-splitters==0.3.9

pinecone==7.3.0

sentence-transformers==5.1.0

passlib[bcrypt]==1.7.4
PyJWT==2.12.1

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu
certifi==2026.8.2