# API
fastapi==0.116.1
uvicorn==0.35.0
pydantic>=2.6.0

# UI
streamlit>=1.32.0

# Video processing
youtube-transcript-api==0.6.2
yt-dlp>=2024.4.0
requests>=2.31.0

# Environment
python-dotenv>=1.0.0

# RAG / LLM
langchain==0.3.27
langchain-core==0.3.74
langchain-openai==0.3.30
langchain-text-splitters==0.3.9

pinecone==7.3.0
sentence-transformers==5.1.0

# Database
motor>=3.3.0

# Auth
passlib[bcrypt]>=1.7.4
PyJWT>=2.8.0
python-multipart>=0.0.9